* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: block;
    font-size: Josefin-Sans;
}

header{
    padding: 30px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
}
header img{
    width: 500px;
}

h1{
   padding: 30px;
   text-transform: uppercase;
   font-size: 50px;
   font-weight: 800;
   line-height: 50px;
   letter-spacing: 10px;
}

span{
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
 }

 h2{
    color: #555555;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    justify-content: flex-start;
    font-family: Josefin-Sans;
}

h3{
    background-color: #902f88;
    padding: 10px;
    color: #ffffff;
    justify-content: center;
    align-items: initial;
}

main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 80px;
}

.aline img{
    width: 150px;
}

aside{
    max-width: 50%;
    padding-left: 50p;
}

article{
    max-width: 50%;
}

ul{

}

li{

}
footer{
    display: flex;
    height: 80px;
    background-color: #a7a5a5;
    padding-bottom: 3px;
    padding-top: 30px;
    margin-top: 80px;
}
.footertext{
    color: #ffffff;
    line-height: 30px;
    padding-top: 10px;
    max-width: 30%;
    padding-left: 20%;
}

.footerlinks{
    max-width: 70%; 
}

footer img{
    width: 80px;
}